<!DOCTYPE html>
<html th:replace="~{layout/masterLayout::layout(~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<main role="main">
		<form action="#" th:object="${book}" th:action="@{/book/update}"
			method="post">
			<div>
				<input type="text" th:field="*{id}" hidden>
			</div>
			<div>
				<label>Name : </label> <input type="text" th:field="*{name}">
			</div>
			<div>
				<label>Author : </label> <input type="text" th:field="*{author}">
			</div>
			<div>
				<input type="submit" value="Update"> <a th:href="@{/book}">go
					back</a>
			</div>
		</form>
		<table class="table">
			<tr>
				<th>Id</th>
				<th>User</th>
				<th>BorrowAt</th>
				<th>ReturnAt</th>
			</tr>
			<tr th:each="history:${book.borrowHistory}">
				<td th:text="${history.id}"></td>
				<td th:text="${history.user}"></td>
				<td th:text="${history.borrowAt}"></td>
				<td th:if="${history.returnAt}" th:text="${history.returnAt}"></td>
				<td th:unless="${history.returnAt}">
				<a sec:authorize="hasRole('LIBRANIAN')"
					th:href="@{/book/return/{id}/{borrowId}(id=${book.id}, borrowId=${history.id})}">Return</a>
					<div sec:authorize="hasRole('USER') or hasRole('PREMIUM')">Not Returned Yet</div>
				</td>
			</tr>
		</table>
		<div sec:authorize="hasRole('LIBRANIAN')" th:if="${borrowDto}">
			<form action="#" th:object="${borrowDto}" th:action="@{/book/borrow}"
				method="post">
				<div>
					<input type="text" th:field="*{bookId}" hidden>
				</div>
				<div>
					<label>Username :</label> <input type="text" th:field="*{username}">
				</div>
				<div>
					<input type="submit" value="Borrow">
				</div>
			</form>
		</div>
	</main>
</body>
</html>